<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Sergiu Blog</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>


</head>
<body>

<div class="group_one">
    <h1>My H1 heading</h1>
    <p>This is a paragraph.</p>
</div>

<h4 id="doar_un_id">This is heading 4</h4>
<img src="{% static 'images/hug.jpg' %}"  alt ="Uh Oh, no show!">



{{ insert_me }}


<a href = "{% url 'help_me' %}">Go to help Page</a>

<div class="group_two">
    <ul>
        <li> Hauu<input id="sergiu" type="text" placeholder="enter something"></li>
        <li> Bla bla<input id="textfield" name="textfield" type="text" value="enter something" onfocus="if (this.value == 'enter something') {this.value = '';}" onblur="if (this.value == '') {this.value = 'enter something';}"></li>
        <li>Put you last name here <input type="text" placeholder="enter something"</li>
    </ul>
</div>


</body>
</html>